
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9w25d1');
  src:  url('../fonts/icomoon.eot?9w25d1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9w25d1') format('truetype'),
    url('../fonts/icomoon.woff?9w25d1') format('woff'),
    url('../fonts/icomoon.svg?9w25d1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-github:before {
  content: "\eab0";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 60px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: #1e1e1e;
  margin: 0;
}
h1 strong {
  color: #ff3b3f;
  font-size: 50px;
}
h2 {
  color: #ff3b3f;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

h5 {
  color: #1e1e1e;
  font-size: 20px;
}

.header {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-height: 140px;
  align-items: center;
  justify-content: space-between;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;

}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
  padding-left: 20px;
}

.header ol li .border {
  height: initial;
  border: 5px solid #ff3b3f;
  background-color: #ff3b3f;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 14px 0; 
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.hero {
  max-height: 250px;
  background-color: #cceaf4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-left: 10px solid #ff3b3f;
}

.portfolio {
  background: #efefef;
  padding: 20px;
  border-left: 10px solid #ff3b3f;
}

.project {
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px 1px lightgray;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}

.aboutme {
  border-left: 10px solid #ff3b3f;
  background-color: #cceaf4;
}

.aboutdetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -80px;
}

.biografia {
  width: 65%;
}

.photopart {
  width: 30%;
}

.profileimg {
  width: 300px;
  height: 300px;
  border-radius:150px;
}

.contact {
  background-color: #ff3b3f;
  color: white;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.social-link {
  display: inline-flex;
  font-size: 40px;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.form-email input {
  border-color: #ff3b3f;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-size: 15px 15px;
}

.form-email button {
  display: block;
  background: #1b2127;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  border: white;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 { 
  font-family: 'Source Sans Pro', sans-serif;
}

.footer {
  color: white;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  flex: 1%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  padding: 1em;
}

.burger-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255,59,63);
  display: none;
  line-height: 30px;
  text-align: center;
  position: fixed;
  z-index: 4;
  right: 10px;
  top: 10px;
  color: white;
}

/* Desktop first - empezar del mas grande */

@media screen and (max-width: 1023px) {

  .logo {
    height: auto;
  }

  .portfolio {
    padding: 0;
  }

  .container {
    padding: 0 auto;
  }

  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  h1 {
    font-size: 35px;
    z-index: 2;
  }

  h1 strong {
    font-size: 30px;
  }

  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

h2 {
  font-size: 25px;
  margin: .5em 0;
}

.aboutdetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.profileimg {
  width: 100%;
  height: 100%;
  border-radius:150px;
}

@media screen and (max-width: 767px) {

  h2 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }

  .burger-button{
    display: block;
  }

  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: block;
  }

  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
    height: 100px;
    padding-bottom: 50px;
    font-size: 35px;
    text-decoration: none;
    margin-bottom: .5em;
    align-items: center;
  }

  .header .logo {
    text-align: center;
  }

  .header ol li .border {
    height: initial;
    border: transparent;
    background-color: transparent;
    border-radius: 4px;
    margin: 14px 0; 
  }

  .menu {
    position: fixed;;
    background-color: rgb(255,59,63);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
  }

  .menu.is-active {
    left: 0;
  }

  .project {
    display: block;
  }

  .project-imageContainer {
    width: auto;
    text-align: center;
  }

  .project-course .project-date .project-url {
    margin: .4em 0;
  }
  .project-details {
    width: auto;
  }

  .project-title {
    font-size: 1.5em;
  }

  .project-url {
    font-size: 1.5em;
  }

  .project-course {
    font-size: .7em;
  }

  .project-date {
    font-size: 1em;
  }

  .project-description {
    font-size: .8em;
  }

  .aboutdetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h1 strong {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

    .project-details {
    width: auto;
    font-size: 16px;
  }

  .aboutdetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .form-email button {
    margin: 1em auto;
  }

  .form-email h3{
    margin-top: 0;
  }
  
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
}

  h1 strong {
    font-size: 20px;
}

.hero {
  padding: 2em 1em;
}

.social-link {
  width: 30px;
  height: 30px;
  background-size: 100%;
}

}